@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?f4xkeu');
  src:  url('fonts/icomoon.eot?f4xkeu#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?f4xkeu') format('truetype'),
    url('fonts/icomoon.woff?f4xkeu') format('woff'),
    url('fonts/icomoon.svg?f4xkeu#icomoon') format('svg');
  font-weight: 900;

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

.icon-kakaotalk:before {
  content: "\e900";
}
.fa.icon-kakaotalk {
    font-family: 'icomoon';
    font-weight: 400;
}